body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: grey;
    box-sizing: border-box;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: black;
    padding: 0rem;
}

.btn {
    color: white;
    border:none;
    padding: 2rem;
}

.btn:hover {
    color: white;
    background-color: grey;
    border: none;
}

.img1 {
    height: 75px;
    border-radius: 10rem;
    margin: 0.8rem;
    float: left;
}

.card-title {
    text-decoration: underline;
}

.links {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 1rem;
}
 .card {
    margin: 10rem;
    background-color: black;
    color: white;
    border-top-width: 4px;
    border-left-width: 4px;
    border-bottom-width: 4px;
 }

 .nav {
    color: white;
    padding: 0rem;
    border: none;
 }

 .home-title {
    color: white;
    font-size: 5rem;
    margin: 12rem;
 }

 .stick-above {
    color: white;
    position: fixed;
    bottom: 0%;
    margin: 1rem;
 }

 a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    float: left;
 }

 p {
    font-size: medium;
 }
 
 .top {
    height: 75px;
    border-radius: 10rem;
    margin: 0rem;
 }